/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f1218;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    width: 90%;
    max-width: 400px;
    background-color: #1c1f2b;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5em;
    align-items: center;
    margin-left: 10px;
    color: #fff;
}

.go-back-button {
    background-color: #4aa3f0;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.go-back-button:hover {
    background-color: #357ac8;
}

.content-container {
    text-align: center;
}

.buy-button {
    background-color: #4aa3f0;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buy-button:hover {
    background-color: #357ac8;
    transform: scale(1.05);
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hidden {
    display: none;
}

.link-button {
    background-color: #292e3b;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.link-button:hover {
    background-color: #4aa3f0;
    transform: scale(1.05);
    cursor: pointer;
}
